.toggle-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 500px;
    width: 150px;
    margin-left: 25%;
    height: 45px;
    
  }
  
  .toggle-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .toggle-option.active {
    background-color: #ffffff;
  }
  
  .toggle-option img {
    width: 25px;
    height: 25px;
  }
  
  .dropdown-menu {
    position: absolute;
    margin-top: 5%; /* Position it below the toggle */
    right: 8%; /* Align it to the right of the toggle */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .dropdown-menu ul li {
    margin-bottom: 5px;
  }
  
  .dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu ul li a:hover {
    background-color: #f0f0f0;
  }
  
  .house-details{
    width: 75%;
  }
  .house-title{
 margin-top: 50px;

  }
  .house-title h1{
    font-weight: 600;
  }
  .house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0; 
  }
  .house-title span{
margin: 0 20px;
  }

  .gallery{
    width: 115%;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';

  }
  .gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;

  }
  .gallery-img-1{
     grid-area: first;
  }