.booking {
    background-color: #00bfff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .card {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .chart {
    height: 150px;
    background-color: #f0f0f0;
    margin: 10px 0;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
  }
  